batch-job/src/main/mule/two-batch-step.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="two-batch-stepFlow" doc:id="37f18576-f36e-4252-8eb7-04e2085b7783" >
		<http:listener doc:name="Listener" doc:id="7fbc793b-0f55-497e-ac5b-cb576cdf3fc6" config-ref="HTTP_Listener_config" path="/two-batch-step" allowedMethods="POST"/>
		<file:read doc:name="Read" doc:id="d6022b35-280d-4ca8-ba8c-924221f52ce1" config-ref="File_Config" path="C:\Users\priyakumari.a\Desktop\Files\Inbound\countries.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="02fd5839-efbf-41e2-82fb-8ca154ddaff3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="two-batch-stepBatch_Job" doc:id="f634f42f-0f4d-4d86-aa92-49f4957290ce" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="8e7a224e-8ceb-4e30-8880-c4b0c9f31df7" acceptExpression="-1" acceptPolicy="ALL">
					<choice doc:name="Choice" doc:id="d3edb1ec-6ded-4772-a28f-cbcc93b36ab3" >
						<when expression="#[payload.nationality == 'Belgian']">
							<raise-error doc:name="Raise error" doc:id="df9cecd5-0794-45ff-9e58-72cbadb72465" type="MULE:CONNECTIVITY"/>
						</when>
						<otherwise>
							<logger level="INFO" doc:name="Logger" doc:id="f58f2e58-c0fb-497a-b361-1d06fb6aa2c9" message="#[payload.nationality]"/>
						</otherwise>
					</choice>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="0c0b1fae-8fe5-4945-a342-892ed33b46da" size="10">
						<db:bulk-insert doc:name="Bulk insert" doc:id="4f107e3e-b0c8-486d-99dd-7eab0acf1c08" config-ref="Database_Config">
							<db:bulk-input-parameters ><![CDATA[#[output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	nationality: payload01.num_code,
	num_code: payload01.alpha_2_code,
	alpha_3_code: payload01.alpha_3_code,
	alpha_2_code: payload01.en_short_name,
	en_short_name: payload01.nationality
}]]]></db:bulk-input-parameters>
							<db:sql ><![CDATA[insert into employee_db.country values(:num_code,:alpha_2_code,:alpha_3_code,:en_short_name,:nationality);]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="a0c2f1de-16a2-4620-a22b-72f07504369a" acceptExpression="-1">
					<logger level="INFO" doc:name="Logger" doc:id="8ba207ee-ad43-443e-a03d-277e3edea25a" message="#[payload.nationality]"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="3f78ef87-8162-4c75-98b6-c75305fbed73" size="10">
						<db:bulk-insert doc:name="Bulk insert" doc:id="d79907f5-d717-4146-b2ba-cb11cc554452" config-ref="Database_Config">
							<db:bulk-input-parameters ><![CDATA[#[output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	nationality: payload01.num_code,
	num_code: payload01.alpha_2_code,
	alpha_3_code: payload01.alpha_3_code,
	alpha_2_code: payload01.en_short_name,
	en_short_name: payload01.nationality
}]]]></db:bulk-input-parameters>
							<db:sql ><![CDATA[insert into employee_db.country values(:num_code,:alpha_2_code,:alpha_3_code,:en_short_name,:nationality);]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="a93db7ef-ddb7-4a70-9504-26fd9ec4218f" message="on complete"/>
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="Transform Message" doc:id="9888cbf8-4028-49f2-aeab-27270ee5619b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"success"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
