file-database-insert/src/main/mule/file-database-insert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3334c248-1d3a-4a1d-b96b-b62ced73005f" basePath="/api" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="1ff6b866-9a6d-4a4f-975f-ca26aa1df6df" >
		<file:connection workingDir="C:\Users\priyakumari.a\Desktop\Files" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b31fd861-43ee-4e01-aa14-93f2d508f7b1" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="employee_db" />
	</db:config>
	<flow name="file-database-insertFlow" doc:id="05045c57-7db0-4714-809f-d59e84b802ed" >
		<http:listener doc:name="Listener" doc:id="6d976e56-76a7-4dbb-a57a-eb6e2a307fa7" config-ref="HTTP_Listener_config" path="/file-database-insert" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Start" doc:id="aae1dea4-6796-45e1-ab81-c4780ee43df6" message="Application Running......"/>
		<logger level="ERROR" doc:name="file path" doc:id="e5c74461-56df-4683-a5da-0cb489cafbae" message="#[payload.file_path]"/>
		<file:read doc:name="Read" doc:id="a958390b-9ca2-4765-a056-deb67b9f59cf" config-ref="File_Config" path="#[payload.file_path]"/>
		<ee:transform doc:name="Transform Message" doc:id="99bfbab0-99f7-449f-83b2-804754cf63dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	phone_no: payload01.phone_no,
	gender: payload01.gender,
	last_name: payload01.last_name,
	years_of_experience: payload01.years_of_experience,
	salary: payload01.salary,
	department: payload01.department,
	first_name: payload01.first_name,
	job_title: payload01.job_title,
	email: payload01.email,
	age: payload01.age
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="94e145da-395c-4965-b0b5-aa18a489a936" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into employee_db.employee_info values (:first_name,:last_name,:email,:phone_no,:gender,:age,:job_title,:years_of_experience,:salary,:department); ]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Transform Message" doc:id="bf2d39d2-5bbc-42d5-a9fd-55eb8e22ff82" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status":"success",
	"message":"The employee data inserted into database"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="a95bdd5c-2dea-49bf-a8d9-a1c107b02950" message="Application send response success !!"/>
	</flow>
</mule>
