for-each-insert/src/main/mule/for-each-bulk-insert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="for-each-bulk-insertFlow" doc:id="49ce65d4-7cbf-48f1-b9bf-04dc137efb56" >
		<http:listener doc:name="Listener" doc:id="1d69023d-6aa5-4ba0-b0f0-2e52b2ccfb6c" config-ref="HTTP_Listener_config" path="/bulk-insert" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Start" doc:id="455c5016-7b01-4e75-8841-fbb6a100d101" message="Application Running..."/>
		<set-variable value="#[[]]" doc:name="Set Variable" doc:id="a11a1283-2d9c-4cea-9b31-058119317c75" variableName="customer_info_list"/>
		<foreach doc:name="For Each" doc:id="750bec24-7bfa-41b0-96bf-7ccd21fb3290" >
			<http:request method="GET" doc:name="Request" doc:id="65ec388a-4489-49ac-9508-7576a184b207" config-ref="HTTP_Request_configuration" path="/users/{customerId}" target="customerInfo">
				<http:uri-params ><![CDATA[#[output application/java
---
{
	customerId : payload.cust_id
}]]]></http:uri-params>
			</http:request>
			<ee:transform doc:name="Transform Message" doc:id="ad9b8646-622f-4997-88aa-2f54c0fb68e4" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.customer_info_list ++ [{
		customerid:payload.cust_id,
		customername:vars.customerInfo.data.first_name ++ ' ' ++ vars.customerInfo.data.last_name,
		email:vars.customerInfo.data.email,
		phone:payload.phone_no
	}]]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="customer_info_list" ><![CDATA[%dw 2.0
output application/java
---
flatten(vars.customer_info_list ++ [{
		customerid:payload.cust_id,
		customername:vars.customerInfo.data.first_name ++ ' ' ++ vars.customerInfo.data.last_name,
		email:vars.customerInfo.data.email,
		phone:payload.phone_no
	}])]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="286a2d00-7792-4a5b-a27f-533f7c3ef2fd" message="customer_info_list : #[vars.customer_info_list]"/>
		<db:bulk-insert doc:name="Bulk insert" doc:id="93fd2f58-03ec-4431-8a09-cebb220ad227" config-ref="Database_Config">
			<db:bulk-input-parameters ><![CDATA[#[output application/java
---
vars.customer_info_list map ( customerinfolist , indexOfCustomerinfolist ) -> {
	phone: customerinfolist.phone,
	customerID: customerinfolist.customerid,
	customerName: customerinfolist.customername,
	email: customerinfolist.email
}]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[insert into employee_db.customer_info values(:customerID,:customerName,:email:,:phone);]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Transform Message" doc:id="ec939b4a-6339-4153-a7f1-3afcd2e62b1b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"The all the data are inserted !"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="6804ca12-6f25-4762-823c-16710d6073c4" message="The application send response success !"/>
	</flow>
</mule>
