soap_request/src/main/mule/soap_add.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="07707d49-fde0-4415-8a3d-7fd01486f95a" >
		<wsc:connection wsdlLocation="calculator.wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soap_addFlow" doc:id="5cac904a-1850-4df7-85bb-ea333ea72313" >
		<http:listener doc:name="Listener" doc:id="b315a96a-fb22-499e-8c28-3a1415611be4" config-ref="HTTP_Listener_config" path="/add"/>
		<logger level="INFO" doc:name="Start" doc:id="39c547c3-e329-4da7-83f4-4814eec7b0a1" message="Application Running...."/>
		<ee:transform doc:name="Transform Message" doc:id="c764d3b8-075c-4b05-bce4-0537027be144" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload.AddRequestdata1,
		ns0#intB: payload.AddRequestdata2
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="8c1c6cc4-939e-413f-b76d-82db4969696f" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="8ee56ae6-f5cc-4b3b-8f15-93a3aed8c5dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://tempuri.org/
---
{
	Add_Response: payload.body.ns0#AddResponse.ns0#AddResult default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="d72d7231-e504-49f3-9119-51b8e7fb54b3" message="Application send the response success !!"/>
	</flow>
</mule>
